/****************Google-font**********************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Questrial&display=swap');


/*********************common-style******************/

body
{
    font-family: 'Poppins', sans-serif;
    font-family: 'Questrial', sans-serif;
}

/*****************carousel-section-style-start*********/

 .prebook-link
 {
     text-decoration: none;
     color:white;
 }
   
/***********precious-section-style-start********************/

 .explore-album
 {
    text-decoration: none;
    color:white;
    font-size: 15px;
     font-weight: bold;
     background-color: #ffc107;
     border-radius:40px;
     padding:10px 40px;
 }

/*****************bonus-section-style-start*******************/

 .drem-wedding-site
 {
    text-decoration: none;
    color:white;
    font-size: 15px;
     font-weight: bold;
     border-radius: 40px;
     padding:10px 40px;
 }



 /*****************Our-package-section-style-start*******************/
.check-sign-color
  {
      color: #5243C2;
      background-color:rgba(82, 67, 194, 0.103693);
      border-radius: 50%;
  }
  .choose-plan
  {
    text-decoration: none;
    color:white;
    font-size: 15px;
     font-weight: bold;
     background-color:#0dcaf0;
     border-radius: 40px;
     padding:10px 40px;
    
  }
  .choose-plan-third
  {
    text-decoration: none;
    color: #3F87F5;
    font-size: 15px;
     font-weight: bold;
     background-color:white;
     border-radius: 40px;
     padding:10px 40px;
     
  }
  .package-third-card
  {
      background-color:#3F87F5 ;
      border-radius: 26px;
      color: white;
      position: relative;
    }
    .check-sign-third-card
    {
        color: white;
        background-color:rgba(82, 67, 194, 0.103693);
        border-radius: 50%;
    }
    .excited-option
    {
        background-color: red;
        text-align: center;
        font-size: 14px;
        color: #FFFFFF;
        padding:2px 0px;
        border-radius:200px;
        width: 35px;
        position: absolute;
        top:-10px;
        right:20px;
    }
/*****************Our-package-section-style-end*******************/



/************happy-client-says-section-style**************/
.bankers-card
    {
        border-radius:20px;
    }
    

/**********************Footer-style-start********************/
    .background-footer
    {
        background-color: #0B0D17;
        color: white;
    }
     
    .apple-apps
    {
        text-decoration: none;
        color: white;
        padding:10px;
     
    }
    .google-apss
    {
        text-decoration: none;
        color: white;
        padding:10px;
    }
    /**********************Footer-style-end********************/
    